body {
  font-family: helvetica;
}

h1 {
  text-align: center;
}

img {
  float:left;
  padding: 10px;
  border: 10px solid black;
  margin: 15px;
}

.sidebar {
  float: right;
  background-color: orange;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
}